{% extends 'base.html.twig' %}

{% block title %}Inloggen{% endblock %}
{% block body %}

 <section class="jumbotron" style="height:1000px">
    <div class="container">
    <form method="post">
    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <h1 class="h3 mb-3 font-weight-normal text-center">Inloggen</h1>
    <label for="inputUsername">Gebruikersnaam</label>
    <input type="text" value="{{ last_username }}" name="username" id="inputUsername" class="form-control" required autofocus placeholder="Gebruikersnaam" style="margin-bottom:20px">
    <label for="inputPassword">Wachtwoord</label>
    <input type="password" name="password" id="inputPassword" class="form-control" required placeholder="Wachtwoord">

    <input type="hidden" name="_csrf_token"
           value="{{ csrf_token('authenticate') }}">
    <button class="btn btn-lg btn-outline-secondary" type="submit" style="margin:10px">Inloggen</button>
        </div>
    </section>
{% endblock %}
